.container
  width: 90%
  max-width: 1256px
  margin: auto
.row 
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  &-30
    max-width: 33%
  &-38
    max-width: 38.4%
  &-45
    max-width: 44.5%
  &-55
    max-width: 55.5%
  &-62
    max-width: 61.6%




