.container
  width: 90%
  max-width: 1256px
  margin: auto
.row 
  display: flex
  align-items: flex-start
  justify-content: space-between
.team
  &__row
    max-width: 73.4286rem
    margin: auto
.col
  &-30
    max-width: 33%
  &-31
    max-width: 31.5%
  &-32
    width: 100%
    max-width: 27%
  &-33
    max-width: 33%
  &-36
    min-width: 37%
  &-38
    max-width: 38.4%
  &-40
    width: 100%
    max-width: 45%
  &-45
    max-width: 44.5%
  &-55
    max-width: 55.5%
  &-60
    width: 100%
    max-width: 55%
  &-62
    max-width: 61.6%
  &-64
    width: 100%
    min-width: 60%
    min-height: 72.7143rem




