.button
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-family: 'Futura Demi'
  font-size: 0.93rem
  &:focus 
    outline-style: none
    outline-width: 0px
    outline-color: none
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    &:hover
      color: $primary
      border-color: $primary
.contacts
  &__button 
    padding: 0.83rem 1.43rem
.hero
  &__button 
    padding: 1.28rem 1.86rem
    min-width: 14.79rem
    margin-right: 1.2rem

.label
  font-size: 1.07rem
  &--light
    color: rgba($light, 0.5)
  &--dark
    color: rgba(54, 54, 54, 0.5)
.input
  border: none
  background-color: transparent
  font-size: 1.31rem
  outline: none
  &--light
    border-bottom: 1px solid rgba($light, 0.15)
    padding: 0.35rem 0rem 0.58rem
    color: $light
  &--dark
    border-bottom: 1px solid rgba(54, 54, 54, 0.3)
    padding: 0.04rem 4rem 0.45rem 0rem
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked ~
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    font-size: 1.15rem
    cursor: pointer
    &::before
      content: ''
      width: 1.286rem
      height: 1.286rem
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.616rem
    &--center
      justify-content: center
.scroll-up
  position: fixed
  right: 8rem
  bottom: 10rem
  width: fit-content 
  z-index: 151
  &__item
    display: none
    position: relative
    text-transform: uppercase
    width: 2rem
    height: 2rem
    border-radius: 50%
    background: $dark url(../img/arrow-down.svg) no-repeat center
    background-size: 1rem
    transform: rotate(180deg)
    cursor: pointer
    transition: 0.2s
    box-shadow: 0px 0px 20px 7px rgba(175,175,175,1)
    &:hover
      transform: rotate(180deg)
      width: 4rem
      height: 4rem
      background-size: 2rem
input
  &.invalid
    border-bottom: 1px solid tomato
.section
  &-title
    &__link
      &-mail
        &:hover
          background-color: $dark
      &-instagram
        &:hover
          background-color: $dark
#user-name-error
  position: absolute
  bottom: -1.3rem
  left: 0
  color: tomato
#user-phone-error
  position: absolute
  bottom: -1.3rem
  left: 0
  color: tomato
#user-email-error
  position: absolute
  bottom: -1.3rem
  left: 0
  color: tomato
#control-user-name-error
  position: absolute
  bottom: -1rem
  left: 0
  color: tomato
#control-user-phone-error
  position: absolute
  bottom: -1rem
  left: 0
  color: tomato
#footer-user-name-error
  position: absolute
  bottom: -1.3rem
  left: 0
  color: tomato
#footer-user-phone-error
  position: absolute
  bottom: -1.3rem
  left: 0
  color: tomato
#footer-user-question-error
  position: absolute
  bottom: -1.3rem
  left: 0
  color: tomato
#policyCheckbox-error
  position: absolute
  bottom: -1.3rem
  left: 0
  color: tomato
#footerPolicyCheckbox-error
  position: absolute
  bottom: -1.3rem
  left: 8.5rem
  color: tomato
#controlPolicyCheckbox-error
  position: absolute
  bottom: -1.4rem
  left: 15.8rem
  color: tomato
#process-user-name-error
  position: absolute
  bottom: -0.5rem
  left: 0
  color: tomato
#process-user-phone-error
  position: absolute
  bottom: -0.5rem
  left: 0
  color: tomato
#process-user-email
  margin-bottom: 0.8rem
#process-user-email-error
  position: absolute
  bottom: 0.75rem
  left: 0
  color: tomato

