.button
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-family: 'Futura Demi'
  &:focus 
    outline-style: none
    outline-width: 0px
    outline-color: none
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    &:hover
      color: $primary
      border-color: $primary
.contacts__button 
  padding: 13px 20px
.hero__button 
  padding: 19px 26px
  min-width: 207px
  margin-top: 30px

