@media screen and ( max-width: 1215px )
  html 
    font-size: 12px
  .nav
    &__link
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 570px )
  .header 
    background-color: #666666
    padding: 1.85rem 0
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.92rem
    max-width: 27.25rem
    line-height: 2.6rem
  .hero
    max-height: 44.7rem
    &__title
      margin-top: 1.7rem
    &__scroll-down
      display: none
    &__content
      max-width: 26.5rem
    &__text
      line-height: 2.05rem
      font-size: 1.5rem
      margin-bottom: 2.7rem
    &__button
      display: block
      min-width: 28.2rem
      padding: 1.5rem 0
      margin-bottom: 2.3rem
      font-size: 1.08rem
  .control
    display: none

@media screen and ( max-height: 600px )
  .hero
    &__scroll-down
      display: none