@media screen and ( max-width: 1215px )
  html 
    font-size: 12px
  .nav
    &__link
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 798px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-left: 0
      margin-bottom: 6.4rem
    &__section-title
      margin-bottom: 3.4rem
  .card
    &__title
      margin-top: 0.6rem
      margin-bottom: 0.5rem
    &__text
      margin-left: 0
      margin-top: -11.8rem
      max-width: 22.2rem
      padding: 1.3rem 2.1rem
    &__list
      line-height: 1.89rem
      font-size: 1.08rem
    &__pricetag
      margin-left: 0
      text-align: center
      padding: 1rem 0
      bottom: -1.5rem
      min-width: 15.9rem
  .section-title
    &__heading
      font-size: 1.83rem

@media screen and ( max-width: 570px )
  .header 
    padding: 1.85rem 0
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.92rem
    max-width: 27.25rem
    line-height: 2.6rem
  .hero
    max-height: 44.7rem
    &__title
      margin-top: 1.7rem
    &__scroll-down
      display: none
    &__content
      max-width: 26.5rem
    &__text
      line-height: 2.05rem
      font-size: 1.5rem
      margin-bottom: 2.7rem
    &__button
      display: block
      min-width: 28.2rem
      padding: 1.5rem 0
      margin-bottom: 2.3rem
      font-size: 1.08rem
  .control
    display: none

@media screen and ( max-height: 600px )
  .hero
    &__scroll-down
      display: none