*, *:before, *:after
  box-sizing: border-box
html  
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-weight: 400
  font-size: 1rem
img
  max-width: 100%
.section
  padding: 4.28rem 0
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 2.29rem
        height: 0.14rem
        background-color: $primary
        margin: 0 0.71rem

