@import 'normalize'
@import 'variables'
@import 'interface'
@import 'grid'
@import 'templates/header'

body
  font-family: sans-serif
  font-size: 14px

.repository-link
  text-decoration: none
  font-size: 32px
