* {
  box-sizing: border-box;
}

@font-face {
    src: url(../fonts/19255.ttf);
    font-family: Tenoture;
}

@font-face {
    src: url(../fonts/Play-Regular.ttf);
    font-family: Play-Regular;
}
@font-face {
    src: url(../fonts/Play-Bold.ttf);
    font-family: Play-Bold;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  font-family: Tenoture;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  background-image: url(../img/background2.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: repeat;
}

.lessons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 70%;
}

.lesson-2, .lesson-3, .lesson-4, .lesson-5, .lesson-6, .lesson-7 {
  display: flex;
  flex-direction: column;
  border: 4px solid #000000;
  position: relative;
  width: 600px;
  height: 10%;
  perspective: 1000px;
  box-shadow: 0px 0px 80px 10px rgba(255, 255, 255, 0.71);
  border-radius: 10px;
  font-family: Play-Regular;
  font-size: 1.1rem;
}

.front, .back {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1s;
  border-radius: 10px;
  padding-left: 2rem;
  overflow: hidden;
  backface-visibility: hidden;
  }

  .subtitle {
    font-family: Play-Bold;
  }

  .front {
    background-color: #b9b8b3;
  }

  .back {
    background-color: #e8e8e8;
  }

.lesson-2:hover .front {
    transform: rotateX(180deg);
  }
  
.lesson-2:hover .back {
    transform: rotateX(360deg);
  }

.lesson-3:hover .front {
    transform: rotateX(180deg);
  }
  
.lesson-3:hover .back {
    transform: rotateX(360deg);
  }

.lesson-4:hover .front {
    transform: rotateX(180deg);
  }
  
.lesson-4:hover .back {
    transform: rotateX(360deg);
  }

.lesson-5:hover .front {
    transform: rotateX(180deg);
  }
  
.lesson-5:hover .back {
    transform: rotateX(360deg);
  }

.lesson-6:hover .front {
    transform: rotateX(180deg);
  }
  
.lesson-6:hover .back {
    transform: rotateX(360deg);
  }
  
.lesson-7:hover .front {
    transform: rotateX(180deg);
  }
  
.lesson-7:hover .back {
    transform: rotateX(360deg);
  }
  
a:link {
  text-decoration: none;
  color: #000000;
}

 a:visited {
  color: #164c00; 
}

a:hover {
  text-decoration: none;
  color: #b86543;
}