.design
  &__section-title
    margin-bottom: 2rem
  &__card
    margin-left: 0.4rem
.section-title
  &__text
    max-width: 52.9rem
    margin: 0 auto 3rem auto
    font-size: 1.43rem
    text-align: center
    font-family: Futura Book
    text-transform: none
    line-height: 2rem
  &__image
    margin-bottom: 1.43rem
    
.card
  &__img
    position: relative
    max-width: 100%
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      max-height: 99%
      background: rgba(0, 0, 0, 0.3)
      z-index: 1
  &__text
    z-index: 2