.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    margin-bottom: 3.714rem
    padding: 2.5rem
  &__title
    margin-bottom: 3.214rem
    margin-top: 0
    text-transform: uppercase
    font-family: Yeseva One
    font-weight: normal
    font-style: normal
    font-size: 1.428rem
    text-align: center
  &__form
    display: flex
    flex-wrap: wrap
    margin: auto
    justify-content: space-between
    max-width: 37.142rem
  &__input
    padding: 0.3rem 0 0.4rem 0
    &-group
      position: relative
      display: flex
      flex-direction: column
      flex-basis: 44.7%
      margin-bottom: 3.3rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2.1rem
    &::placeholder
      color: $light
  &__policy
    flex-basis: 100%
    margin-bottom: 3.53rem
    padding-right: 1.4rem
  &__button
    margin: auto
    padding: 1.33rem 4.3rem
    font-size: 1.05rem
  &__menu
    background-color: $dark
    padding: 4.2857rem 0
