.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  position: relative
  z-index: 100
  &__wrap
    background: $black
    max-width: 63.07rem
    margin: auto
    margin-top: -18.9rem
    margin-bottom: 2.4rem
    padding: 2.5rem
  &__title
    margin-bottom: 3.214rem
    margin-top: 0
    text-transform: uppercase
    font-family: Yeseva One
    font-weight: normal
    font-style: normal
    font-size: 1.428rem
    text-align: center
  &__heading
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__form
    display: flex
    flex-wrap: wrap
    margin: auto
    justify-content: space-between
    max-width: 37.142rem
  &__input
    padding: 0.3rem 0 0.4rem 0
    &-group
      position: relative
      display: flex
      flex-direction: column
      flex-basis: 44.7%
      margin-bottom: 3.3rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2.1rem
    &::placeholder
      color: $light
  &__policy
    position: relative
    flex-basis: 100%
    margin-bottom: 3.53rem
    padding-right: 1.4rem
  &__button
    margin: auto
    padding: 1.33rem 4.3rem
    font-size: 1.05rem
  &__menu
    background-color: $dark
    padding: 3.35rem 0
  &__map
    position: relative
    margin-bottom: 4.8rem
    width: 66.0714rem
    height: 33.2143rem
    z-index: 20
.ymaps-2-1-76-map 
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)
.ymap-container
  position: relative
  background: $light url('../img/map-load-bg.jpg') no-repeat center / cover
  max-width: 925px
  max-height: 465px
  margin: auto
  cursor: pointer
.loader
  position: absolute
  z-index: 15
  top: -100%
  left: 0
  box-sizing: border-box
  width: 100%
  height: 100%
  overflow: hidden
  color: #000000
  transition: opacity .7s ease
  opacity: 0
  background-color: rgba(0,0,0,.55)
.loader.is-active
  top: 0
  opacity: 1
.loader-default
  &::after
    position: absolute
    top: calc(50% - 24px)
    left: calc(50% - 24px)
    width: 48px
    height: 48px
    content: ''
    animation: rotation 1s linear infinite
    border: solid 8px #ffffff
    border-left-color: transparent
    border-radius: 50%

@keyframes rotation
  from
    transform: rotate(0)
  to
    transform: rotate(359deg)
 
@keyframes blink
  from
    opacity: .5
  to
    opacity: 1
.section
  &-title
    &__footer
      &-heading
        flex-basis: 100%
        font-size: 1.5rem
        letter-spacing: -0.045rem
        margin-bottom: 1.7rem
    &__link 
      width: 2rem
      height: 2rem
      margin-right: 0.1rem
      border-radius: 50%
      &-instagram
        background: $primary url('../img/instagram-icon.svg') no-repeat center
        margin-left: 1rem
      &-mail
        background: $primary url('../img/mail-icon.svg') no-repeat center