.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 400
  background-color: $dark
  padding: 1.51rem 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
  &__nav
    margin-left: 1.5rem
.logo
  text-transform: uppercase
  font-family: 'Futura Demi'
  &__link
    color: $primary
    text-decoration: none
    &:hover
      color: $light
.nav
  &__link
    color: $light
    text-decoration: none
    text-transform: uppercase
    margin-right: 2.65rem
    transition: color 0.2s
    &:hover 
      color: $primary
.phone
  color: $primary
  font-family: 'Futura Demi'
  &:hover 
    color: $light
.contacts
  &__phone
    margin-right: 3.1rem
.animate__animated
  animation-iteration-count: 1
.animated
  animation-iteration-count: 1