.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  background: $dark url(../img/hero-bg.jpg) no-repeat center / cover
  padding-top: 7.14rem
  height: 100vh
  color: $light
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__content
    position: relative
    max-width: 47.85rem
    margin-left:: 5rem
  &__text
    max-width: 35.71rem
    font-size: 1.57rem
    line-height: 2.14rem
    margin-bottom: 4rem
  &__button
    margin-right: 1.43rem
  &__instagram
    position: absolute
    left: 0
    top: 0
    height: 100%
    max-width: 6.43rem
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 17.64rem
    min-height: 6.93rem
    background-color: $dark
    text-transform: uppercase
    text-decoration: none
    color: $light
    background: $dark
    font-family: Yeseva One
    &:hover 
      color: $primary
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center / cover
      background-size: 45%
      width: 2.14rem
      height: 2.14rem
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 0.86rem
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
    line-height: 0.8
    font-family: 'Futura Demi'
    &:hover 
      color: $light 
    &::after
      content: ''
      width: 3.57rem
      height: 0.07rem
      background-color: $primary
      margin-left: 0.57rem
.title
  margin: 0
  font-family: 'Yeseva One'
  text-transform: uppercase
  font-size: 2.857rem
  &--primary  
    color: $primary
