.style
  position: relative
  background: $dark url(../img/style/style-bg.jpg) no-repeat center / 100%
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__heading
    font-size: 1.9286rem
    letter-spacing: -0.001rem
    margin-bottom: 3rem
  &__section
    &-title
      max-width: 29.3571rem
      padding-top: 8.75rem
  &__col
    transform: translateY(-8.0379rem)
  &__picture
    position: absolute
    left: 0
    top: 0
  &__image
    &-first
      width: 25.2857rem
      height: 39.8486rem
      margin-bottom: 2.7929rem
    &-second
      width: 25.2857rem
      height: 24.9286rem
    &-third
      width: 25.2857rem
      height: 19.6429rem
      margin-bottom: 2.6429rem
    &-fourth
      width: 25.2857rem
      height: 44.6343rem
  &__wrap
    &--left
      padding-top: 5.15rem
      margin-right: 3.0714rem
.section
  &__style
    padding: 0 0 5.6rem 1.1rem
    padding-left: 1.1rem
    max-height: 61.0143rem
    &-list
      display: flex
      flex-direction: column
      justify-content: space-between
    &-item
      position: relative
      display: flex
      flex-direction: column
      font-size: 1.7rem
      letter-spacing: 0.025rem
      margin-bottom: 1.585rem
      cursor: pointer

    &-image
      position: relative
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        // background-color: $scale
      &-wrap
        display: flex
        flex-direction: column
        align-items: center
        z-index: 50
.item
  &-active
    color: $primary
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      border-bottom: 1px solid $primary
      width: 10.4rem