body {
  margin: 2% 10%;
  font: 16px/1.5 Arial, sans-serif;
  text-indent: 2%;
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 5px solid #111;
}

.title {
  text-align: center;
}


.description {
  padding: 5px;
  font-style: italic;
  color: rgb(172, 50, 50);
}

.header {
  text-align: center;
  text-decoration: underline;
}

.contents {
  text-align: center;
  border-bottom: 2.5px solid #111;
}

.contents a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.5;
  font-weight: 800;
  color: #fa983a;
}

.contents a:visited {
  color: #e84118;
}

.contents a:active {
  color: #0097e6;
}

.contents a:hover {
  color: #b71540;
}

.section-1 {
  padding: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #303952;
  border-top: 2.5px solid #111;
  border-bottom: 2.5px solid #111;
}

.section-2 {
  padding: 5px;
  color: #fff;
  background-color: #e74c3c;
  border-top: 2.5px solid #111;
  border-bottom: 2.5px solid #111;
}

.section-3 {
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: #546de5;
  border-top: 2.5px solid #111;
  border-bottom: 2.5px solid #111;
}

.section-4 {
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: #d35400;
  border-top: 2.5px solid #111;
  border-bottom: 2.5px solid #111;
}

.section-5 {
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: #16a085;
  text-decoration: line-through;
  border-top: 2.5px solid #111;
  border-bottom: 5px solid #111;
}