* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
  font-weight: 400;
}

.product-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    /* еще вот такая партянка ориентирует по центру )) top: 0; left:0; bottom: 0; right: 0; margin: auto; */
  width: 100%;
  max-width: 1010px;
  min-height: 503px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
}

.product-image {
  display: inline-block;
  transform: translate(48px, 64px);
}

.text {
  display: inline-block;
  color: #2f2f2f;
  transform: translateX(140px);
  vertical-align: top;
}

.title {
  margin-top: 90px;
  font-size: 23px;
}

.info {
  margin-top: 30px;
  width: 393px;
  font-size: 15px;
}

.price {
  margin-top: 49px;
  font-size: 15px;
}

.value {
  margin-top: 19px;
  font-size: 30px;
}

button {
  margin-top: 21px;
  padding: 10px 23px;
  font-size: 19px;
  width: 252px;
  color: #ffffff;
  background-color: #ec744a;
}