* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Proxima Nova Regular;
  src: url(../fonts/Proxima\ Nova\ Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url(../fonts/Proxima\ Nova\ Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova Light;
  src: url(../fonts/Proxima\ Nova\ Light.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Proxima Nova Regular;
  font-weight: normal;
}

h1 {
  font-weight: normal;
  font-family: Proxima Nova Regular;
  font-size: 36px;
  font-weight: 400;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 723px;
  background-color: #f9f9f9;
}

.title {
  display: flex;
  margin-bottom: -45px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 360px;
}

.price {
  font-family: Proxima Nova Bold;
  font-size: 18px;
  font-weight: 700;
}

.btn {
  padding: 17px 0;
  width: 195px;
  border: 1px solid #23bac1;
  font-family: Proxima Nova Regular;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #23bac1;
  background-color: #f9f9f9;;
}
